<div class="about_page_image">
  <%= render 'layouts/header' %>
  <div class="landing_page_image_cover">
    <div class="col-md-10 col-md-offset-1 about_page_image_text_wrapper">
      <div class="about_page_image_text">
        <h1>What we do</h1>
        <p>We are fueling a leadership pipeline to propel young people from low-income, underrepresented backgrounds into positions of impact and influence. 
        <p>Students work in small cohorts and with Leadership Coaches to master important skills, gain access to 
        transformative learning experiences, build extensive social and professional networks, activate 
        their personal assets, and ultimately, lead and serve at the highest levels of their abilities. 
        <p>We also provide students with our technology platform, which connects the Beyond Z community while leveling access to knowledge and social capital. 

      </div>
    </div>
  </div>
</div>

<br/>
<br/>

<div class="team_bios_wrapper team_bios container table-responsive">
  <h1>Who We Are</h1><br/>
  <h3>Founder: Aimée Eubanks Davis</h3>
  <p>Aimée has led various teams at Teach For America for more than 10 years, including New Site Development, Regional Operations, Human Assets, Diversity, and Public Affairs &amp; Communications. As Chief People Officer, she helped Teach For America attract, engage, develop, and retain extraordinary, diverse talent, and oversaw organizational growth from 200 to 2,000 staff members while increasing staff diversity by 270%. Before joining Teach For America, Aimée led the Summerbridge New Orleans site to become one of the most successful sites in the Breakthrough Collaborative. She is a graduate of Mount Holyoke College and was a 1995 Teach For America corps member in New Orleans. Aimée is a Pahara-Aspen Fellow and serves on the Board of Directors of Education Pioneers, Crescent City Schools, and OneGoal.</p>
  <h3>Team members</h3>
  <p>A number of talented individuals from diverse backgrounds have already signed on or dedicated substantial amounts of time, pro-bono, to help Beyond Z get launched. These individuals have degrees from some of the world’s strongest schools and over 50 years of combined experience leading and working in the education, technology, and non-profit sectors:</p>
  <strong>PROGRAM DESIGN AND EXECUTION</strong>
  <ul>
    <li>Eva Avramov</li>
    <li>Iris Chen</li>
    <li>Susan Cheng</li>
    <li>Miki Heller</li>
    <li>John Hsu</li>
    <li>Jeff Imrich</li>
    <li>Sheila Lopez</li>
    <li>Marissa Mike</li>
    <li>Jerelyn Rodriguez</li>
    <li>Andrea Schwartz</li>
    <li>Abby Whitbeck</li>
  </ul>
  <strong>TECHNOLOGY</strong>
  <ul>
    <li>Brian Sadler</li>
  </ul>
  <strong>MARKETING &amp; COMMUNICATIONS</strong>
  <ul>
    <li>Rashina Bhula</li>
  </ul>
  <strong>STRATEGIC PROJECTS &amp; SUPPORT</strong>
  <ul>
    <li>Nina Landrum</li>
    <li>Maddy Niebauer</li>
  </ul>

        
</div>

<hr/>
<br/>


<div class="sign_up_bottom">
  <div>Sign up now to get updates from Beyond Z!</div>
  <div style="width:300px !important; margin:0px auto; text-align:center;" id="mc_embed_signup">
    <form action="http://beyondz.us7.list-manage.com/subscribe/post?u=a6afcda1d714a49d83be66f7a&amp;id=17b0f4c2ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="row validate form-inline" target="_blank" novalidate> 
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="input-lg required email" id="mce-EMAIL" placeholder="Enter email">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>  
      <div class="clear">
        <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-danger" style="margin:0px auto;">
      </div>
    </form>
  </div>
</div>

