<div class="landing_page_image">
  <div class="landing_page_navbar">
    <div class="btn btn-lg" style="font-size:22px !important" href="/">Beyond Z</div>
    <div class="btn btn-lg pull-right" href="/about">About Us</div>
    <a class="btn btn-lg pull-right" href="mailto:miki.heller@gmail.com">Contact Us</a>
  </div>
  <div class="landing_page_image_cover">
    <div class="row landing_page_image_text">
      <div class="col-md-4 col-md-push-7">
        <h1 style="font-weight:bold; font-size:55pt">Our tagline will go here</h1><br/>
        <h3 style="font-size:20pt">Sign up for our newsletter!</h3>
        <h2 style="font-size:12pt">Be the first to hear about Beyond Z updates</h2>
        <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
      </div>
    </div>
  </div>
</div>

<div class="middle_section">
  <h1 style="font-size:50px" class="thin-text">The Beyond Z model</h1>
  <div class="thin-push"></div>
  <div style="font-size:25px; color:rgb(149,149,149)" class="light-text">How we will propel young people to positions of leadership</div></br>
</div>
<div class="push"></div>
<div class="middle_section_table">
  <table width="100%" class="tri">
    <tr>
      <td style="padding-left: 50px" class="center"><img src="http://www.hackermeter.com/static/img/landing-icon-1.png"/>
      </td>
      <td style="padding-left: 50px" class="center"><img src="http://www.hackermeter.com/static/img/landing-icon-2.png"/>
      </td>
      <td style="padding-left: 50px" class="center"><img src="http://www.hackermeter.com/static/img/landing-icon-3.png"/>
      </td>
    </tr>
    <tr>
      <td style="height:30px"></td>
    </tr>
    <tr style="font-size: 22px;" class="mid-text">
      <td>
        <p class="offset-left">Amazing Opportunities</p>
      </td>
      <td>
        <p class="offset-left">Leadership Guardian</p>
      </td>
      <td>
        <p class="offset-left">Tech Platform</p>
      </td>
    </tr>
    <tr style="font-size: 18px; color:rgb(149,149,149); line-height:150%" class="xlight-text">
      <td style="padding:0px 10px;">
        <p class="offset-left">Our challenges are based on real interview questions.</p>
      </td>
      <td style="padding:0px 10px;">
        <p class="offset-left">Certify your talents with code challenges by area and level.</p>
      </td>
      <td style="padding:0px 10px;">
        <p class="offset-left" style="padding-left:10px;">We auto-match you with companies that want your skill set.</p>
      </td>
    </tr>
  </table>
</div>

<br/>

<div id="students" style="height:200px; width:100%; background-color: rgb(76, 77, 86)" class="no-margin no-padding">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <div class="img-rounded user_image pull-right"></div>
    </div>
    <div style="color:silver;" class="col-md-8 no-padding no-margin">
      <hr style="height:40px; visibility: hidden;"/><i style="font-size: 24px">"Beyond Z is super awesome, I wish I had thought of it!"</i>
      <div style="color:white; font-size:16px">Dave Levin</div>
    </div>
  </div>
</div>

<br/>

<div>
  <center>
    <div style="font-size: 20px" class="book-text">Sign up now to get updates from Beyond Z!</div>
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>  
  </center>
</div>
