<div class="landing_page_image">
  <%= render 'layouts/header' %>
  <div class="landing_page_image_cover">
    <div class="row landing_page_image_text">
      <div class="col-md-5 col-md-push-7">
        <h1 style="font-weight:bold; font-size:52pt; text-align:left;">Training the next generation of leaders</h1><br/>
        <h3 style="font-size:20pt">Sign up for our newsletter!</h3>
        <h2 style="font-size:12pt">Be the first to hear about Beyond Z updates</h2>
        <form class="form-inline" role="form">
      <div class="form-group">
        <input type="email" class="input-lg form-control" id="exampleInputEmail2" placeholder="Email address">
      </div>
      <button type="submit" class="btn btn-lg btn-danger">Submit</button>
    </form>
      </div>
    </div>
  </div>
</div>

<div class="middle_section">
  <h1 style="font-size:50px" class="thin-text">The Beyond Z model</h1>
  <div style="font-size:25px; color:rgb(149,149,149)" class="light-text">How we will propel young people to positions of leadership</div></br>
</div>
<div class="middle_section_table">
  <table>
    <tr class="middle_section_table_icons">
      <td>
        <i class="icon-rocket"></i>
      </td>
      <td>
        <i class="icon-group"></i>
      </td>
      <td>
        <i class="icon-laptop"></i>
      </td>
    </tr>
    <tr class="middle_section_table_headers">
      <td>Amazing Opportunities</td>
      <td>Leadership Guardians</td>
      <td>Tech Platform</td>
    </tr>
    <tr class="middle_section_table_text">
      <td>Cohorts of students participate in hands-on learning and leadership development</td>
      <td>Adult volunteers work with the students to serve as sponsors and guide the students through the program</td>
      <td>Our platform is a one-stop-shop where students can connect with other students and earn badges</td>
    </tr>
  </table>
</div>
<br/>
<br/>

<div class="row testimonial">
  <div class="col-md-2 col-md-offset-2">
    <div class="img-rounded user_image pull-right"></div>
  </div>
  <div class="testimonial_text col-md-6">
    “It is clear that there is a need to ensure that young-people growing up in low-income communities have opportunities to demonstrate and practice leadership over time.  Beyond Z is going to help ensure we have extraordinary, diverse leaders for the country.”
    <div style="color:white; font-size:14px">-Dave Levin, Founder of KIPP</div>
  </div>
</div>

<br/>
<br/>

<div class="sign_up_bottom">
    <div>Sign up now to get updates from Beyond Z!</div>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="email" class="form-control input-lg" id="exampleInputEmail2" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-lg btn-danger">Submit</button>
    </form>  
</div>


