<%= render 'layouts/header' %>
<br/>
<div class="row">
	<div class="col-md-10 col-md-offset-1 jumbotron">
		<div class="container">
			<h1 class="text-primary">Join the Beyond Z team!</h1>
			<p>We're working to ensure that all kids have the same opportunities in life.</p>
			<p>We are a small and tight-knit team, and we value competence, honesty, relentlessness, and a passion for equity and education. We are working hard to make truly transformational change, and we love working with people who get excited about taking on big challenges.</p>
			<p>If this sounds like you, we'd love to hear from you.</p>
		</div>
	</div>
</div>

<br/>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="text-center text-primary">Open Positions</h1>
		<br/>
		<h4>Co-founder and Chief Technology Officer</h4>
		<strong>Description</strong>
			<p>As the Founding Member, Technology, you will be responsible for planning, implementing,
			maintaining, and innovating Beyond Z’s best-in class technology systems, including:</p>
			<ul>
				<li>Developing a vision and plan for Beyond Z’s platform, ensuring that we use cutting-edge and</li>
				<li>innovative technology</li>
				<li>Leading a team of engineers and drive product development to build out the platform; ensuring that</li>
				<li>our software is well-architected and scalable</li>
				<li>Designing ways to use technology to track the progress and achievements of Beyond Z participants;</li>
				<li>use analytics to optimize and improve on the platform</li>
				<li>Working closely with the Founding Member, Product Design to ensure that the product and the</li>
				<li>platform are working together effectively</li>
				<li>Managing relationships with key senior technology project stakeholders and partners</li>
				<li>Acting as project leader and lead advisor for organization-wide technology strategy</li>
				<li>Helping determine where to base our technology operations (likely either Bay Area or Chicago)</li>
				<li>Assessing profitability potential for aspects of the Beyond Z technology platform</li>
			</ul>

			<strong>Prior Experience/Skills</strong>
			<ul>
				<li>Experience managing a team of engineers to develop a product from inception to completion</li>
				<li>Experience engaging with customers and partners to build innovative, complex technology products</li>
				<li>and/or systems, preferably in the education space</li>
				<li>Web development experience – comfort with a modern web framework (e.g. Django or Ruby on</li>
				<li>Rails); familiarity with Objective-C and Java is a plus</li>
				<li>Ability to understand the big picture of the technology to be developed, and to determine which</li>
				<li>resources, people, and steps will be necessary to develop the technology</li>
				<li>Comfort with ambiguity, desire for entrepreneurial, start-up type work environment</li>
				<li>A commitment to the many dimensions of identity shared by the participants of Beyond Z, including</li>
				<li>(but not limited to) race, income background, sexual orientation, language, gender expression,</li>
				<li>religion, and ability</li>
				<li>An interest in social justice movements, and a desire to join in our efforts to ensure that all young</li>
				<li>people, regardless of income background or race, have access to the opportunities that ensure</li>
				<li>educational and life success</li>
			</ul>

			<strong>Work Demands</strong>
			<ul>
				<li>Location: Flexible; Bay Area or Chicago preferred</li>
				<li>Occasional travel will be required</li>
				<li>Ability to work remotely</li>
			</ul>

			<strong>Apply Now!</strong>
			<p>Please send a resume and cover letter to <%= link_to 'maddy.niebauer@teachforamerica.org', 'maddy.niebauer@teachforamerica.org' %>.</p>

	</div>
</div>