<%= render 'layouts/header' %>
<br/>
<div class="row">
	<div class="col-md-10 col-md-offset-1 jumbotron">
		<div class="container">
			<h1 class="text-primary">Join the Beyond Z team!</h1>
			<p>We're working to ensure that all kids have the same opportunities in life.</p>
			<p>We are a small and tight-knit team, and we value competence, honesty, relentlessness, and a passion for equity and education. We are working hard to make truly transformational change, and we love working with people who get excited about taking on big challenges.</p>
			<p>If this sounds like you, we'd love to hear from you.</p>
		</div>
	</div>
</div>

<br/>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="text-center text-primary">Open Positions</h1>
		<br/>
		<h4>Full Stack Developer</h4>
		<p>Location: San Francisco or Chicago</p>
		<strong>Job Description</strong>
			<p>As our first tech hire, you will be responsible for planning, implementing, maintaining, and innovating Beyond Z’s web platform, a one stop shop where low-income students can get access to opportunities online that their high-income peers have access to offline. The social network technology platform will integrate already-existing technologies all in one place, and give participants opportunities to connect with their peers and adult role models (e.g. through Quora-like question and answers, TED talks, real-time chat and video-conferencing); view educational content (e.g. Khan Academy, Rosetta Stone, lessons on personal finance/investing); participate in online activities (e.g. online debates, chess tournaments, programming classes); and track their progress though a points system and badges. Later, the site will become a platform where developers will be able to build apps specifically tailored to help low-income students.</p>
			<p>Specific responsibilities will include:<p>
			<ul>
				<li>Developing a vision and plan for Beyond Z’s platform, ensuring that we use cutting-edge and innovative technology</li>
				<li>Participating in all stages of the product lifecycle – thinking up new features, programming them, and rapidly iterating</li>
				<li>Designing ways to use technology to track the progress and achievements of Beyond Z participants; use analytics to optimize and improve on the platform</li>
				<li>Working closely with the program team to ensure that the product and the platform are working together effectively</li>
			</ul>

			<strong>Skills and Requirements</strong>
			<ul>
				<li>Experience building across the full stack (we are platform agnostic, though prefer someone who programs in Django or Ruby on Rails), and the ability to execute quickly and iterate rapidly</li>
				<li>Program management experience, and the ability to understand the big picture of the technology to be developed</li>
				<li>A desire to work as part of a small, fast-paced, and highly-flexible team</li>
				<li>A passion for education, and a belief that all young people, regardless of income background or race, have access to the opportunities that ensure educational and life success</li>
			</ul>

			<strong>About Beyond Z</strong>
			<p>Beyond Z is a nonprofit dedicated to ensuring that low-income students are set up to reach positions of impact and leadership by giving them access to world-class opportunities, networks, and technologies.</p>

			<p>Beyond Z takes a three-pronged approach. First, we provide our participants with incredible opportunities and experiences – for example, learning how to code, participating in speech and debate, playing chess, and travelling abroad. Second, we place our participants in small cohorts and provide them with adult champions who help participants master important skills, gain access to transformative learning experiences, build extensive social and professional networks. Third, we provide students with our technology platform, which connects the Beyond Z community in a social network while providing access to knowledge and social capital.</p>


			<strong>Apply Now!</strong>
			<p>Please send a resume and cover letter to <%= link_to 'jobs@beyondz.org', 'mailto:jobs@beyondz.org', :target => "_blank" %>. In your cover letter, please explain specifically why you are interested in working at Beyond Z.</p>








<!--
	<h4>Co-founder and Chief Technology Officer</h4>
		<strong>Description</strong>
			<p>As the Founding Member, Technology, you will be responsible for planning, implementing,
			maintaining, and innovating Beyond Z’s best-in class technology systems, including:</p>
			<ul>
				<li>Developing a vision and plan for Beyond Z’s platform, ensuring that we use cutting-edge and innovative technology</li>
				<li>Leading a team of engineers and drive product development to build out the platform; ensuring that our software is well-architected and scalable</li>
				<li>Designing ways to use technology to track the progress and achievements of Beyond Z participants; use analytics to optimize and improve on the platform</li>
				<li>Working closely with the Founding Member, Product Design to ensure that the product and theplatform are working together effectively</li>
				<li>Managing relationships with key senior technology project stakeholders and partners</li>
				<li>Acting as project leader and lead advisor for organization-wide technology strategy</li>
				<li>Helping determine where to base our technology operations (likely either Bay Area or Chicago)</li>
				<li>Assessing profitability potential for aspects of the Beyond Z technology platform</li>
			</ul>

			<strong>Prior Experience/Skills</strong>
			<ul>
				<li>Experience managing a team of engineers to develop a product from inception to completion</li>
				<li>Experience engaging with customers and partners to build innovative, complex technology products and/or systems, preferably in the education space</li>
				<li>Web development experience – comfort with a modern web framework (e.g. Django or Ruby on Rails); familiarity with Objective-C and Java is a plus</li>
				<li>Ability to understand the big picture of the technology to be developed, and to determine which resources, people, and steps will be necessary to develop the technology</li>
				<li>Comfort with ambiguity, desire for entrepreneurial, start-up type work environment</li>
				<li>A commitment to the many dimensions of identity shared by the participants of Beyond Z, including (but not limited to) race, income background, sexual orientation, language, gender expression, religion, and ability</li>
				<li>An interest in social justice movements, and a desire to join in our efforts to ensure that all young people, regardless of income background or race, have access to the opportunities that ensure educational and life success</li>
			</ul>

			<strong>Work Demands</strong>
			<ul>
				<li>Location: Flexible; Bay Area or Chicago preferred</li>
				<li>Occasional travel will be required</li>
				<li>Ability to work remotely</li>
			</ul>

			<strong>Apply Now!</strong>
			<p>Please send a resume and cover letter to <%= link_to 'jobs@beyondz.org', 'mailto:jobs@beyondz.org', :target => "_blank" %>.</p>
-->






	</div>
</div>