.landing_page_image {
	background-image: url('/assets/landing_page_kiddos_photo.jpg'); 
	background-size: 100%; 
	height: 630px;
	color:white !important;
}

.landing_page_navbar {
	background-color: rgba(108,108,108,0.4) !important;
	border: 0px !important;
	height:80px;
	border-radius:0px !important;
	padding:18px 35px 0px 15px;
	font-size:18px;
}

.landing_page_navbar a, .landing_page_navbar a:hover, .landing_page_navbar a:active, .landing_page_navbar a:visited {
	color:white;
	font-size:18px;
	text-decoration:none;
	padding:10px 15px;
}

.landing_page_navbar_logo {
	font-size:30px !important;
	font-weight:bold; 
	padding-top:8px;
}

.landing_page_image_cover {
	height:630px;
	background-color: rgba(0,0,0,0.3);
	margin-top:-80px;
}

.under_construction {
	position:absolute;
	top:70px;
	background-color:rgb(221, 221, 136);;
	color:red;
	text-align:center;
	width:100%;
	padding:5px;
	font-weight:bold;
}

.landing_page_image_text {
	padding-top:20px;
	color:white;
	text-align:center;
	width:40%;
	position:absolute;
	top:120px;
	right:0px;
}

.landing_page_image_text h1 {
	font-size:66px;
}

@media (max-width: 1260px) {
    .landing_page_image_text h1 {
    	font-size:50px;
    }
}

@media (max-width: 800px) {
    .landing_page_image_text h1 {
    	font-size:40px;
    }
}

.middle_section {
	text-align:center;
	padding-top:30px;
}

.middle_section_table {
	width:80%;
	margin:0px auto;
	text-align:center;
}

.middle_section_table_icons {
	font-size:15em;
	color:lightgray;
	line-height:1;
}

.middle_section_table_headers {
	font-size: 22px;
}

middle_section_table_text {
	font-size: 18px; 
	color:rgb(149,149,149); 
	line-height:150%;
}

.middle_section_table_text td {
	padding:0px 60px;
}


.testimonial {
	height:200px; 
	width:100%; 
	background-color: rgb(76, 77, 86)
}

.testimonial_photo {
	background-image: url('/assets/Natalie_Jefferson.jpg');
	display: inline-block;
	width: 130px;
	height: 130px;
	margin-top: 40px;
	background-size: cover;
	background-repeat: no-repeat;
}

.testimonial_text {
	color:silver; 
	font-size: 17px; 
	font-style:italic; 
	padding-top:43px;
}

.user_image {
	background-image: url('');
	display: inline-block;
	width: 130px;
	height: 130px;
	margin-top: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 1px;
}

.sign_up_bottom {
	text-align:center;
	font-size: 20px;
}



.about_page_image {
	background-image: url('/assets/about_page_lockers_photo.jpg'); 
	background-size: 100%; 
	height: 630px;
	color:white !important;
	filter: grayscale(100%);
}

.about_page_image_text_wrapper {
	color:white;
	text-align:left;
	background-color: rgba(0, 0, 0, .75);
	margin-top:55px;
	
	border-radius:10px;
	font-family:quicksand;
}

.about_page_image_text {
	margin:30px 150px 0px 30px;
	line-height:1.5;
}

.about_page_image_text p {
	font-size:21px;
	margin: 20px 0px;
	text-rendering: optimizelegibility;
}

.team_bios_wrapper {
	margin:0px auto !important;

}

.team_bios {
	width:80%;
	margin:0 auto; 
	padding:20px; 
	padding-left:28px;
	color:rgb(96, 87, 92);
}

.team_bios .row {
	margin-bottom:30px;
}

.bio_table {
	border:0px white solid;
}

.bio_table tr {
	margin-bottom:120px;
}

.table th, .table td {
	border-top: none !important; 
	padding-bottom:20px !important;
}

.bio_table_photos {
	height:140px;
	width:140px !important;
	margin-right:2px;
	margin-left:18px;
	margin-top:20px;
	background-size: 100%;
}

.bio_table_text {
	width:35%; 
	padding:0px 20px;
}

.team_bios h3 {
	color:rgb(96, 87, 92);
}


.footer {
	text-align:center;
}

.footer a, .footer a:visited, .footer a:active {
	color: #333;
	padding:5px;
	text-decoration:none;
}

.footer a:hover, {
	color:blue;
	text-decoration:none;
}

#mce-success-response {
	display:none !important;
}

.jumbotron {
	font-size:16px !important;
	padding-top: 15px !important;
	padding-bottom: 30px !important;
	background-color:#94B2CC !important;
}

.jumbotron h1 {
	font-size:45px !important;
	color:white !important;
}