<div class="landing_page_navbar">
  <a class="landing_page_navbar_logo" href="/">Beyond Z</a>
  <a class="pull-right" href="/contact">Contact Us</a>
  <a class="pull-right" href="/jobs">We're Hiring!</a>
  <a class="pull-right" href="/about">About Us</a>
  <a class="pull-right" href="/">Home</a>
</div>